<div class="modal-content rounded-4 shadow">
    <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Sign in</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body p-5 pt-0">
        <form #signInForm="ngForm" (ngSubmit)="signIn(signInForm)" class="">
            <div class="form-floating mb-3">
                <input type="email" class="form-control rounded-3" name="email" placeholder="name@example.com" ngModel>
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-3" name="password" placeholder="Password" ngModel>
                <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-outline-primary" type="submit">Sign in</button>
            <button routerLink="/auth/sign-up" class="w-100 mb-2 btn btn-lg rounded-3 btn-outline-primary"
                type="button">Create an account</button>
            <a routerLink="/auth/recover"><h6 class="text-body-secondary text-center">Recover your Account</h6></a>
            <!-- <hr class="my-4">
            <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
            <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="button">
                <svg class="bi me-1" width="16" height="16">
                    <use xlink:href="#twitter" />
                </svg>
                Sign up with Twitter
            </button>
            <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="button">
                <svg class="bi me-1" width="16" height="16">
                    <use xlink:href="#facebook" />
                </svg>
                Sign up with Facebook
            </button>
            <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="button">
                <svg class="bi me-1" width="16" height="16">
                    <use xlink:href="#github" />
                </svg>
                Sign up with GitHub
            </button> -->
        </form>
    </div>
</div>